.App {
  text-align: center;
}

.header {
  color: #8e8e8e;
  margin-top: 50px;
  font-size: 30px;
}

.weather-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.weather-details-cont {
  margin-right: 20px;
  margin-left: 5px;
  height: 150px;
  width: 100px;
  color: #d0d0d0;
  cursor: pointer;
 }

 .weather-details-cont:hover {
  background-color: #fbfbfc;
  border: 2px solid #ececec;
  color: #b5b5b5;
 }
 .weather-details-days{
   margin-top: 10px;
   margin-bottom: 6px;
   text-align: center;
   font-weight: 500;
 }

.weather-details-images {
  object-fit: scale-down;
  height: 60px;
  width: 60px;
  margin-top: 5px;
}

.weather-details-degrees {
  margin-top: 13px;
  text-align: center;
}

.thick {
  color: #8e8e8e;
}

.light {
  color: #b2b2b2;
}
